.footer-main {
  background-color: $base-color;
  font-size: 0.8rem;
  padding: 5% 0.5%;
  font-family: Poppins !important;
  // height: 15rem;
  color: white !important;
  a {
    color: white;
  }
}
.col-body {
  font-style: normal;
  font-weight: normal;
  font-size: 16px !important;
  line-height: 24px !important;
}

.column-section {
  display: flex;
  flex-direction: column;
  margin: 1%;
  color: white;
  justify-content: center;
  font-style: normal;

  .col-heading {
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 400;
  }
  .footer-col-icon {
    margin: 0 0.25rem;
  }
}
.card-logo {
  width: 51%;
  margin-bottom: 4%;
}

.header-btn {
  padding: 0;
}
.footer-headline {
  background-color: #20325a;
  width: 100%;
  font-size: 0.7rem;
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0;

  color: rgb(226, 226, 226) !important;
  justify-content: space-between;
  .copyright {
    justify-self: flex-start;
  }
  .icons {
    display: flex;
    justify-content: center;
    .icon {
      margin-right: 0.5rem;
    }
  }
  .developBy {
    position: relative;
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    .address-icon {
      margin-right: 0.2rem;
      margin-top: 0.17rem;
    }
  }
}
.developBy {
  .cipher-savvy-link {
    color: white;
  }
}

@include media-breakpoint-between(xxxs, xs) {
  .footer-main {
    font-size: 0.6rem;
  }
  .column-section {
    padding: 1rem 2rem;
  }
  .col-heading {
    text-transform: capitalize;
    font-size: 1.2rem;
  }
  .col-body-1 {
    width: 60%;
    // margin-left: 1%;
  }
  .copyright {
    font-size: 0.3rem;
    margin-left: 2.5%;
  }
  .developBy {
    font-size: 0.28rem;
  }
  .footer-headline {
    font-size: 0.3rem;
  }
  .icon {
    margin-right: 0.3rem;
  }
  .card-logo {
    width: 60%;
    margin-bottom: 7%;
  }
}
@include media-breakpoint-between(xs, sm) {
  .column-section {
    margin: 1% 0;
    // padding: 1rem 2rem;
  }
}
@include media-breakpoint-between(sm, md) {
  .footer-main {
    font-size: 0.6rem;
    .card-logo {
      width: 30%;
      font-size: 1.5rem;
      margin-bottom: 7%;
    }
  }
  .column-section {
    margin: 1% 0;
  }
  .copyright {
    font-size: 0.5rem;
  }
  .developBy {
    font-size: 0.5rem;
  }
}
@include media-breakpoint-between(md, lg) {
  .footer-main {
    font-size: 0.7rem;
    .column-section {
      margin: 0.6%;
    }
  }
  .footer-col-icon {
    margin: 0 0.1rem;
  }
  .col-body {
    font-size: 0.6rem !important;
  }
  .card-logo {
    width: 59.5%;
    margin-bottom: 4%;
  }
}
@include media-breakpoint-between(lg, xxl) {
  .copyright {
    padding-left: 5%;
  }
  .col-body {
    font-weight: 300 !important;
    color: white !important;
    transform: translateY(5%);
  }
  .col-body-1 {
    letter-spacing: 0.11px;
    transform: translateY(7%);
  }
  .col-body-2 {
    margin-left: 1.5%;
  }
  .footer-main {
    .column-section {
      font-size: 00.6rem;
      margin: 0.6%;
    }
  }
  .col-section-first {
    margin-left: 1.7% !important;
    padding: 0 3%;
  }
  .second-col {
    margin-left: -1.75% !important;
  }
  .info-col {
    margin-left: 5.4% !important;
  }
  .find-us-col {
    margin-left: -2.2% !important;
    height: 90%;
  }
  .col-heading {
    font-size: 1.2rem;
    height: 90%;
    transform: translateY(15%);
  }
  .card-logo {
    transform: translateY(14%);
  }
  .Links-heading {
    margin-left: 1.1%;
    font-weight: 400;
  }
  .input-1 {
    margin-top: -00.5%;
  }
  .Info-heading {
    margin-left: 1.1%;
  }
  .find-us-heading {
    margin-left: 3%;
  }
}

@include media-breakpoint-between(xxl, xxxxxxxl) {
  .card-logo {
    width: 31.5%;
  }
  .col-body-1 {
    width: 60%;
  }
}
