.second-section-main {
  margin-top: 100vh;
}
.section_title_description {
  display: block;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: -0.19px;
  color: #000;
  opacity: 1;
  padding-top: 19%;
}
.section_title_text {
  text-align: left;
  padding-top: 21%;
  padding-left: 17%;
  background-position: 0 16px;
  font-weight: 600;
  font-size: 45px;
  line-height: 58px;
  letter-spacing: 0;
  color: #000;
  opacity: 1;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  //   b-circle
  background-image: url("https://i.postimg.cc/76zZ3psX/b-circle.png");
}
