.main {
  margin-top: 4.4%;
  padding-bottom: 6%;
}

.left-section {
  padding-left: 9.5%;
  margin-top: 0 !important;
  .sub-left-div {
    width: 80%;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sub-left-1 {
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
  }
  .sub-left-2 {
    font-size: 1.2rem;
    font-weight: 400;
    padding: 1% 3.5%;
    // padding-right: 10%;
    background-color: $base-color;
    width: 468px !important;
    height: 46px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sub-left-div::after {
    content: "";
    width: 0;
    height: 0;
    border-top: 23px solid transparent;
    border-left: 34px solid $base-color;
    border-bottom: 23px solid transparent;
    transform-origin: 0 5%;
  }
  .Vector-triangle {
    width: 9%;
    top: -3%;
  }
  .Vector-sub-logo {
    width: 8.7%;
    margin: 3%;
  }
  .Group-sub-logo {
    width: 9.5%;
    margin: 3%;
  }
  .sub-left-3 {
    color: gray;
    font-size: 0.8rem;
    font-weight: 400;
    width: 76%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sub-left-4 {
    color: gray;
    // margin-left: 2%;
    margin-top: -1%;

    font-size: 0.8rem;
    width: 78%;

    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .sub-left-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 114%;
    .controll-logo {
      max-width: 100%;
      width: 500px;
      display: flex;
      justify-self: flex-start;
    }
    .Vector-logo {
      margin-bottom: 6%;
      width: 100%;
      height: 100%;
      margin-left: 1%;
      display: flex;
      justify-self: flex-end;
    }
  }
  small {
    font-size: 0.7rem !important;
  }
}
.right-section {
  padding-left: 5.3%;
  margin-top: 0 !important;

  margin-top: 2.5%;
  .card-title-main {
    margin-top: 5%;
    font-size: 0.8rem;
    color: #7a7f8c;
  }
  .box-section {
    border: 2px solid #3d619b;
    border-radius: 3px;
    font-size: 00.8rem;
    margin: 1% 4%;
    width: 16.15rem;
    height: 2.15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    margin-bottom: 2.75%;
    transform: translateY(-22.5%);
  }
  .box-button {
    width: 323px;
    .input-button {
      background-color: $base-color;
      margin-top: 22%;
      margin-bottom: 18%;
      width: 100%;
      // margin-left: 2%;
      color: white;
      text-decoration: none;
      // font-size: 0.8rem;
      height: 54px;

      border-radius: 4px;
      padding: 4% 0;
      padding-left: 9.5%;
      font-size: 00.9rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      .arrow-logo {
        margin: 2% 0%;
        margin-left: 4%;
        width: 7.2%;
        font-size: 00.8rem;
      }
    }
  }
}
.Read-out-main {
  margin: 0;
  .read-out-col-main {
    background-color: #20325a;
    height: 4.55rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5% 0;
    cursor: pointer;
  }

  .read-out-heading {
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 0%;

    margin-left: 1%;
  }

  .down-arrow-logo {
    margin-left: 40%;
    margin-top: 4%;
    width: 100%;
  }
}
.box-row {
  display: flex;
  justify-content: center;
  margin-top: 12%;
}
.right-card {
  height: 32.25rem;
  width: 21.45rem;
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
}
.radio-input {
  background-color: #3973f0 !important;
}
.ellips-img {
  width: 6.8%;
  margin-right: -2%;
}
@include media-breakpoint-between(xxxs, xs) {
  .main {
    margin-top: 15%;
  }
  .card-title-main {
    font-size: 0.7rem;
  }
  .right-section {
    margin-left: 0;
    .card {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  .left-section {
    padding-left: 0%;
    .sub-left-div {
      width: 100%;
      padding-left: 2%;
    }

    .sub-left-1 {
      font-size: 1rem;
      display: flex;
      justify-content: center;
      font-weight: 600;
      text-align: center;
    }
    .sub-left-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .sub-left-2 {
      font-size: 0.75rem;
      text-align: center;
      display: flex;
      justify-content: center;
      padding-right: 10%;
      padding: 0.55% 3.5%;
      width: 80% !important;
    }
    .sub-left-div::after {
      content: "";
      transform: rotate(90deg);
      border-top: 23px solid transparent;
      border-left: 34px solid $base-color;
      border-bottom: 23px solid transparent;
      transform-origin: 65% 0;
      margin-left: 15%;
    }

    .Vector-triangle {
      width: 9%;
      top: -3%;
    }
    .Vector-sub-logo {
      width: 9%;
      margin: 3%;
    }
    .Group-sub-logo {
      width: 10%;
      margin: 3%;
    }
    .sub-left-3 {
      font-size: 0.5rem;
      width: auto;
      text-align: center;
      padding: 0 11%;
    }
    .sub-left-4 {
      font-size: 0.5rem;
      width: auto;
      padding: 0 11%;
      text-align: center;
    }
    .sub-left-5 {
      display: none;
    }
    .arrow-logo {
      margin-left: 3%;
    }
  }
  .right-section {
    .card {
      width: 100%;
      margin: 0;
      .box-button {
        .input-button {
          .arrow-logo {
            margin-top: 4%;
          }
        }
      }
    }
  }
  .Read-out-main {
    .read-out-col-main {
      display: flex;
      // flex-direction: column;
      // justify-content: center;
      align-items: center;
      text-align: center;
      height: 100% !important;
    }
    .read-out-heading {
      font-size: 0.65rem;
      font-weight: 600;
      padding-top: 8%;
      margin-left: 1%;
      text-align: left;
    }
    .down-arrow-logo {
      display: flex;
      justify-content: center;
      margin-top: 0%;
      // // transform: rotate(180deg) !important;

      margin-left: 0%;
      width: 70%;
    }
  }
  .right-section {
    display: flex;
    justify-content: center;
    .right-card {
      height: 32.25rem;
      width: 21.95rem;
    }
  }
}
@include media-breakpoint-between(xxs, xs) {
  .arrow-logo {
    margin: 2.85% 0% !important;
    margin-left: 5% !important;
  }
  .Read-out-main {
    .read-out-col-main {
      display: flex;
      // flex-direction: column;
      // justify-content: center;
      align-items: center;
      text-align: center;
      height: 100% !important;
    }
    .read-out-heading {
      font-size: 0.8rem;
      font-weight: 600;
      padding-top: 5%;
      margin-left: 1%;
    }
    .down-arrow-logo {
      display: flex;
      justify-content: center;
      margin-top: 0%;
      // // transform: rotate(180deg) !important;

      // margin-left: 80%;
      width: 60%;
    }
  }
  .sub-left-1 {
    margin-left: 2%;
    text-align: center;
  }
  .left-section {
    .sub-left-2 {
      text-align: center;
      display: flex;
      justify-content: center;
    }
    .sub-left-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .sub-left-div::after {
      content: "";
      transform: rotate(90deg);
      border-top: 23px solid transparent;
      border-left: 34px solid $base-color;
      border-bottom: 23px solid transparent;
      transform-origin: 60% 0;
      margin-left: 10%;
    }
    .sub-left-5 {
      display: none;
    }
  }
  .right-section {
    display: flex;
    justify-content: center;
    .right-card {
      height: 32.25rem;
      width: 21.95rem;
    }
  }
}
@include media-breakpoint-between(xs, sm) {
  .Read-out-main {
    .read-out-col-main {
      display: flex;
      align-items: center;
      text-align: start;
      height: 100% !important;
    }
    .read-out-heading {
      font-size: 0.8rem;
      font-weight: 600;
      padding-top: 2%;
      margin-left: 1%;
    }
    .down-arrow-logo {
      display: flex;
      justify-content: center;
      margin-top: 0%;
      // // transform: rotate(180deg) !important;

      margin-left: 0%;
      width: 50%;
    }
  }

  .sub-left-1 {
    margin-left: 2%;
    text-align: center;
  }
  .sub-left-2 {
    margin-top: 5px;
    text-align: center;
    display: flex;
    justify-content: center;

    text-align: center;
  }
  .sub-left-3 {
    font-size: 0.7rem !important;
    display: flex;
    padding: 0 10.5% !important;
    text-align: center;
    justify-content: center;
  }
  .sub-left-4 {
    font-size: 0.7rem !important;
    padding: 0 11% !important;
    display: flex;
    justify-content: center;
  }

  .left-section {
    .sub-left-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .sub-left-div::after {
      content: "";
      transform: rotate(90deg);
      border-top: 23px solid transparent;
      border-left: 34px solid $base-color;
      border-bottom: 23px solid transparent;
      transform-origin: 60% 0;
      margin-left: 7.5%;
    }
    .sub-left-5 {
      display: none;
    }
  }
  .right-section {
    display: flex;
    justify-content: center;
    .right-card {
      height: 32.25rem;
      width: 21.95rem;
    }
  }
}
@include media-breakpoint-between(sm, md) {
  .right-section {
    display: flex;
    justify-content: center;
    margin-left: 0;
    .input-button {
      display: flex;
      align-items: center;
      .arrow-logo {
        margin-top: 0%;
        margin-left: 3%;
        width: 8%;
      }
    }
  }
  .left-section {
    margin-top: 8%;
    padding-left: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .sub-left-div::after {
      content: "";
      // transform: rotate(90deg);
      border-top: 23px solid transparent;
      border-left: 34px solid $base-color;
      border-bottom: 23px solid transparent;
    }
    .sub-left-1 {
      font-size: 1.2rem;
    }
    .sub-left-2 {
      font-size: 1.2rem;
      font-weight: 400;
      padding: 0.9% 3.5%;
    }
    .sub-left-3 {
      width: 100%;
      padding: 0 4% !important;
      text-align: center;
    }
    .sub-left-4 {
      font-size: 0.6rem;
      // padding: 0 6% !important;
      width: 100%;
      text-align: center;
    }
    .sub-left-5 {
      width: 100%;

      .Vector-logo {
        width: 100%;
      }
    }
  }
  .right-card {
    height: auto;
    margin-left: 0;
  }
  .card {
    .box-section {
      height: 2.15rem;
    }
  }
  .Read-out-main {
    .read-out-col-main {
      display: flex;
      // flex-direction: column;
      // justify-content: center;
      align-items: center;
      text-align: start;
      height: 100% !important;
    }
    .read-out-heading {
      font-size: 0.8rem;
      font-weight: 600;
      // padding-top: 1%;
      margin-left: 1%;
    }
    .down-arrow-logo {
      display: flex;
      justify-content: center;
      margin-top: 0%;
      // // transform: rotate(180deg) !important;
      margin-left: 30%;
      width: 40%;
    }
  }

  .left-section {
    .sub-left-2 {
      height: auto;
    }
  }
  .down-arrow-logo {
    display: flex;
    justify-content: flex-start;
  }
  .card-title-main {
    font-size: 0.7rem !important;
  }
}

@include media-breakpoint-between(md, lg) {
  .main {
    margin-top: 6.4%;
  }
  .right-section {
    margin-top: 7%;
    .card-title-main {
      font-size: 0.65rem !important;
    }
  }
  .left-section {
    display: block;
    margin-top: 8%;
    padding-left: 9.6%;
    .sub-left-2 {
      font-size: 0.7rem;
      padding-right: 10%;
    }
    .sub-left-3 {
      color: gray;
      font-size: 0.6rem;
      font-weight: 400;
      width: 85%;
      text-align: left;
    }
    .sub-left-4 {
      font-size: 0.6rem;
      width: 85% !important;
      text-align: left;
      // padding: 0 12% !important;
    }
    .sub-left-5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;

      .Vector-logo {
        margin-bottom: 6%;
        width: 50%;
        height: auto;
      }
    }
    .sub-left-div::after {
      content: "";
      border-top: 14px solid transparent;
      border-left: 20px solid $base-color;
      border-bottom: 13px solid transparent;
    }
  }
  .card {
    width: 100%;
    margin: 0;
  }
  .right-card {
    height: 28.25rem;
  }
  .Read-out-main {
    .down-arrow-div {
      padding-top: 0;
    }
    .down-arrow-logo {
      margin-top: 10%;
      margin-left: 60%;
      width: 29% !important;
    }
  }
  .card-title {
    font-size: 1.1rem;
  }
  .main-row {
    display: flex;
    justify-content: center;
  }
  .right-section {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .sub-left-1 {
    font-size: 1.2rem !important;
  }
  .read-out-heading {
    margin-block: auto;
    padding-top: 0;
  }
}

@include media-breakpoint-between(lg, xl) {
  .card-title {
    font-size: 1.1rem !important;
  }
  .Read-out-main {
    .down-arrow-div {
      padding-top: 0;
    }
    .down-arrow-logo {
      margin-top: 5%;
      margin-left: 60%;
      width: 15% !important;
    }
  }
  .left-section {
    .sub-left-1 {
      font-size: 1.6rem;
      font-weight: 600;
      color: black;
    }
    .sub-left-div {
      width: 65%;
    }
    .sub-left-2 {
      width: auto;
      height: auto;
    }
    .sub-left-3 {
      width: 65%;
    }
    .sub-left-4 {
      color: gray;
      width: 72%;
      font-size: 0.65rem;
    }
    .sub-left-5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: auto;
      .Vector-logo {
        margin-bottom: 6%;
        width: 50%;
        height: auto;
      }
    }
  }
  .right-section {
    display: flex;
    justify-content: center;
    margin-left: 0;
    .input-button {
      display: flex;
      align-items: center;
      .arrow-logo {
        margin-top: 0%;
        width: 8%;
      }
    }
    .card-title-main {
      // font-size: 0.7rem;
      color: #7a7f8c;
    }
  }
  .read-out-heading {
    margin-block: auto;
    font-size: 1rem !important;
  }
  .read-out-col-main {
    height: auto !important;
  }
}
@include media-breakpoint-between(xl, xxl) {
  .Read-out-main {
    .down-arrow-div {
      padding-top: 0;
    }
    .down-arrow-logo {
      padding-top: 0px;
      margin-left: 75%;
      width: 15%;
    }
  }
  .left-section {
    .sub-left-1 {
      font-size: 1.6rem;
      font-weight: 600;
      color: black;
    }
    .sub-left-div {
      width: 80%;
    }
    .sub-left-2 {
      font-size: 1.2rem;
      font-weight: 400;
      padding: 1% 3.5%;
    }
    .sub-left-3 {
      width: 76%;
    }
    .sub-left-4 {
      color: gray;
      font-size: 0.8rem;
      width: 81%;
    }
    .sub-left-5 {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      width: 114%;
      .controll-logo {
        display: flex;
        justify-self: flex-start;
      }
      .Vector-logo {
        margin-bottom: 7.5%;
        width: 95%;
        height: 100%;
        margin-left: 1%;
        transform: translateX(-2%);
        display: flex;
        justify-self: flex-end;
      }
    }
  }
  .right-section {
    .input-button {
      display: flex;
      align-items: center;
      .arrow-logo {
        margin-top: 0%;
        width: 8%;
      }
    }
    .card-title-main {
      // font-size: 0.7rem;
      color: #7a7f8c;
    }
  }
  .Read-out-main {
    .read-out-heading {
      margin-block: auto;
      font-size: 1.2rem;
      padding-top: 0 !important;
    }
  }
  .read-out-col-main {
    height: auto !important;
  }
}

@include media-breakpoint-between(xxl, xxxl) {
  .Read-out-main {
    .down-arrow-div {
      padding-top: 0;
    }
    .down-arrow-logo {
      margin-top: 10px;
      margin-left: 65%;
      width: 15%;
    }
  }
  .left-section {
    .sub-left-1 {
      font-size: 1.6rem;
      font-weight: 600;
      color: black;
    }
    .sub-left-div {
      width: 80%;
      color: white;
    }
    .sub-left-2 {
      width: auto;
      height: auto;
    }
    .sub-left-div::after {
      border-top: 24px solid transparent;
      border-left: 34px solid $base-color;
      border-bottom: 24px solid transparent;
    }
    .sub-left-4 {
      color: gray;

      font-size: 0.8rem;
      width: 81%;
    }
  }
  .right-section {
    .input-button {
      display: flex;
      align-items: center;
      .arrow-logo {
        margin-top: 0%;
        width: 8%;
      }
    }
    .card-title-main {
      // font-size: 0.7rem;
      color: #7a7f8c;
    }
  }
  .read-out-heading {
    margin-block: auto;
    font-size: 1.2rem;
  }
}
@include media-breakpoint-between(xxxl, xxxxl) {
  .left-section {
    .sub-left-div {
      margin-top: 0;
    }
  }
  .sub-left-div::after {
    border-top: 22px solid transparent;
    border-left: 34px solid $base-color;
    border-bottom: 22px solid transparent;
  }
  .read-out-heading {
    margin-block: auto;
  }
}
@include media-breakpoint-between(xxxxl, xxxxxxxl) {
  .read-out-col-main {
    height: auto !important;
  }
  .Read-out-main {
    .down-arrow-logo {
      margin-top: 5px;
      margin-left: 65%;
      width: 13%;
    }
  }
  .left-section {
    .sub-left-1 {
      font-size: 1.6rem;
      font-weight: 600;
      color: black;
    }

    .sub-left-div {
      margin-top: 0;
    }
    .sub-left-2 {
      width: auto;
      height: auto;
    }
    .sub-left-div::after {
      border-top: 27px solid transparent;
      border-left: 37px solid $base-color;
      border-bottom: 27px solid transparent;
    }
    .sub-left-4 {
      color: gray;

      font-size: 0.8rem;
      width: 81%;
    }
  }
  .right-section {
    .input-button {
      display: flex;
      align-items: center;
      .arrow-logo {
        margin-top: 0%;
        width: 8%;
      }
    }
    .card-title-main {
      // font-size: 0.7rem;
      color: #7a7f8c;
    }
  }
  .read-out-heading {
    margin-block: auto;
  }
}
#formTargetDiv iframe {
  height: 100% !important;
}

/*---MINHAL CSS---------*/
.arrow {
  background-color: #0f1f26;
  clip-path: polygon(0 0, 85% 0, 100% 50%, 85% 100%, 0 100%);
  max-width: 600px;
  padding: 15px 25px;
  margin: 25px 0 10px;
}

.arrow-down {
  position: relative;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
